.home{
   
    background-color: #212121;
    width: 100vw;
    height: 100vh;
    background-size:cover;
}
h1.inline{
    color: white;
}
.displaychannel{
    color: white;
    display: block;
    font-size: 20px;
    border: 1px solid white;
    width: 20%;
}
